.base-sobre {
  flex-direction: row;
  justify-content: center;
  gap: 50px;
  display: flex;
  padding: 40px 0;

  @media (max-width: 1024px) {
    flex-direction: column;
    align-items: center;
  }

  .img-direita {
    flex-direction: column;
    display: flex;
    position: relative;
    padding: 40px 0px;

    img {
      max-width: 100%;
      height: auto;
      box-shadow: 10px -15px #fba719;
      border-radius: 5px;
    }

    .etiqueta {
      background-color: #fce593;
      border-radius: 50%;
      width: 100px;
      height: 100px;
      margin: 23px 15px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;

      p {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 75px;
        height: 75px;
        font-size: 14px;
        color: #000;
        font-weight: 600;
        border: 0.5px solid #faa91c;
        border-radius: 50%;
      }

      p::before {
        content: "";
        position: absolute;
        inset: 0; /* ocupa exatamente o mesmo tamanho */
        border-radius: 50%;
        border: 2.7px dashed #faa91c; /* pontilhada */
        animation: girar 10s linear infinite;
      }

      @keyframes girar {
        to {
          transform: rotate(360deg);
        }
      }
    }
  }

  .text-esquerda {
    flex-direction: column;
    width: 45%;
    display: flex;

    @media (max-width: 1400px) {
      width: 60%;
    }

    @media (max-width: 1024px) {
      width: 90%;
    }

    .titulo {
      display: flex;
      flex-direction: column;
      font-family: var(--font-oswald);

      @media (max-width: 500px) {
        text-align: center;
      }

      p {
        font-size: 14px;
        padding: 15px 0;
        font-weight: 500;
        color: #333;
        font-family: var(--font-bricolage-grotesque);

        svg {
          width: 15px;
          height: auto;
          margin: 0 5px;
          color: #fba719;
        }
      }

      h2 {
        font-size: 30px;
        padding: 10px 0;
        color: #000;
      }

      h3 {
        font-size: 25px;
        width: 80%;
        margin: 0 auto;
        color: #eb9c15;
        text-align: end;
        padding: 15px 0;
      }
    }
  }

  .text {
    display: flex;
    flex-direction: row;
    padding: 5px 0;

    @media (max-width: 600px) {
      flex-direction: column;
    }

    .img-text {
      img {
        border-radius: 5px;
        margin: 20px 10px;
        box-shadow: 5px 6px 2.6px rgba(0, 0, 0, 0.15);
        transition: 0.5s;

        &:hover {
          transform: scale(1.1);
          box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 9px 0px;
          transition: 0.5s;
        }
      }
    }

    p {
      padding: 6px;
      width: 90%;
      color: #333;
      font-size: 16px;
      font-weight: 600;
      border-left: 1px solid #eb9c15;

      @media (max-width: 1024px) {
        width: 100%;
      }
    }

    .bloco-texto {
      display: flex;
      flex-direction: column;
      margin: 0 10px;
    }
  }
}

.servicos-base {
  display: flex;
  flex-direction: column;
  color: #000;

  .title {
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 15px 0;
    width: 90%;
    gap: 20px;
    font-family: var(--font-oswald);

    @media (max-width: 1000px) {
      flex-direction: column;
    }

    .flex {
      display: flex;
      flex-direction: column;
      width: 50%;

      @media (max-width: 1000px) {
        width: 90%;
      }

      p {
        font-size: 16px;
        color: #333;
        padding: 10px 0;
      }

      h4 {
        font-size: 30px;
        padding: 10px 0;
      }

      svg {
        color: #eb9c15;
        margin: 0 5px;
      }
    }

    .flex-2 {
      display: flex;
      flex-direction: column;
      width: 50%;
      font-family: var(--font-bricolage-grotesque);

      @media (max-width: 1000px) {
        width: 90%;
      }

      p {
        font-size: 16px;
        padding: 20px 0;
      }

      a {
        color: #fff;
        background-color: #eb9c15;
        border-radius: 50px;
        width: 30vh;
        height: 40px;
        gap: 15px;
        font-size: 15px;
        font-weight: 600;
        display: flex;
        align-items: center;
        justify-content: center;

        &::before,
        &::after {
          content: "";
          position: absolute;
          background-color: #272b75;
          height: 100%;
          border-radius: 50px;
          width: 0%;
          z-index: -1;
          overflow: hidden;
          transition: width 0.5s ease-in-out;
        }

        &::before {
          top: 0;
          left: 0; // cresce da esquerda para a direita
        }

        &:hover {
          color: #f2f2f2; // opcional: muda a cor do texto no hover
          transform: scale(1);
          overflow: hidden;

          svg {
            transform: rotate(320deg);
            transition: 0.6s;
          }

          &::before {
            width: 100%;
          }
        }
      }
    }
  }

  .blocos-base {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 25px;
    padding: 25px 0;

    .bloco {
      border-radius: 5px;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;
      width: 400px;
      padding: 15px;
      display: flex;
      position: relative;
      box-shadow: 0 3px 8px rgba(0, 0, 0, 0.24);
      font-family: var(--font-bricolage-grotesque);

      &:hover {
        a {
          svg {
            transform: rotate(360deg) scale(1.1);
            transition: 0.6s;
          }
        }
      }

      @media (max-width: 400px) {
        width: 300px;
      }

      img {
        border-radius: 5px;

        @media (max-width: 400px) {
          max-width: 90%;
          height: auto;
        }
      }

      a {
        svg {
          color: #fff;
          background-color: #eb9c15;
          padding: 9px;
          width: 40px;
          height: auto;
          border-radius: 50%;
          transition: 0.6s;
        }
      }

      .texto {
        width: 70%;
        height: 35%;
        border-radius: 5px;
        bottom: 0;
        position: absolute;
        background-color: #fff;
        padding: 20px;

        @media (max-width: 400px) {
          width: 80%;
          height: 50%;
          padding: 10px;
          background-color: #ffffffaf;
        }

        p {
          font-size: 15px;

          @media (max-width: 400px) {
            font-weight: 600;
          }
        }

        svg {
          color: #fff;
          background-color: #eb9c15;
          padding: 9px;
          width: 40px;
          height: auto;
          border-radius: 50%;
          transition: 0.6s;
        }

        &:hover {
          svg {
            transform: scale(1.1);
            transition: 0.6s;
          }
        }
      }
    }
  }
}
